html,
body {
  margin: 0;
  min-width: 0;
}

#fixture-root {
  display: block;
}

#fixture-root[data-layout-context="viewport-height"] {
  height: 100%;
}

#fixture-root > .krds-form-check,
#fixture-root > .krds-form-chip {
  width: fit-content;
}


*,
*::before,
*::after {
  animation: none !important;
  transition: none !important;
}
